.header .menu {
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header label {
    display: flex;
}

.header .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 18px;
    height: 1px;
    top: 29px;
    left: 15px;
}

.header .hamburguer:before,
.header .hamburguer:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header .hamburguer:before {
    top: -7px;
}

.header .hamburguer:after {
    bottom: -7px;
}

.checkbox-hamburguer input{
    display: none;
}

.checkbox-hamburguer ul{
    display: none;
}

.checkbox-hamburguer input:checked ~ul {
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}

.header .checkbox-hamburguer {
    position: absolute;
    left: 10px;
    z-index: 1;
}

 .checkbox-hamburguer .pop-up-menu {
    width: 200px;
    max-height: 300px;
    position: absolute;
    background-color: #fff;
}

.checkbox-hamburguer .pop-up-menu a{
    padding: 15px;
    font-size: 2rem;
}

.checkbox-hamburguer .pop-up-menu a:hover{
    background-color: #f7f7f7 ;
}

.checkbox-hamburguer .pop-up-menu li{
    padding: 3px;
}

/* .pop-up-menu .fa-solid{
    margin-right: 20px;
} */

